:root {
    --menu-width: 37.5em; 
    --items: 4; 
    --item-width: calc(var(--menu-width) / var(--items));
    --clr-purple: #886ab5;
    --clr-black: #121212;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: linear-gradient(45deg, #102eff, #d2379b);
    font-family: "Roboto", sans-serif;
    height: 100vh;
    width: 100vw;
} 
