@import url('../../../styles/styles.css');

.item-value {
    font-weight: bold;
    color: var(--clr-purple);
}

/*    Mobile    */

/*Portrait*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
    .container-item-value{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
