@import url('../../../styles/styles.css');

.kpi-card {
    position: relative;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.75);;
    padding: 1em;
    border-radius: 0.3em;
    width: 310px;
    min-width: 180px;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.card-value {
    font-size: 185%;  
    font-weight: bolder;
}

.card-text {
    display: block;
    font-size: 80%;
    padding-left: 0.2em;
}

.icon {  
    float: right;
    font-size:500%;
    position: absolute;
    top:0rem;
    right:-0.2rem;
    opacity: .18;
}

.grey-dark {
    background: #495057;
    color: #efefef;
}

.red-gradient {
    background: linear-gradient(180deg, rgba(207,82,82,1) 0%, rgba(121,9,9,1) 80%);
    color: #fff;
}

.red {
    background: #a83b3b;
    color: #fff;
}

.purple {
    background: var(--clr-purple);
    color: #fff;
}

.orange {
    background: #ffc241;
    color: #fff;
}

.green {
    background: #0b6325;
    color: #fff;
}