@import url('../../../styles/styles.css');

.order-edit-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-edit {
    font-size: 15px;
    color: #886ab5;
    margin-left: 12px;
}